body {
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/*page header for all views*/
.header {
  height: inherit;
  width: 100%;
  border: groove;
  text-align: center;
  margin-top: 30px;
  background-color: rgba(233, 216, 204, 0.6);
  font-family: 'Metamorphous', cursive;
  font-weight: bold;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
}

/*welcome screen*/
#otherwise {
  margin-top: 50px;
  margin: 0 auto;
  min-height: 50px;
  max-width: 800px;  font-family: 'Metamorphous', cursive;
  color: rgba(28, 11, 3, 1);
  border: groove;
  background-color: rgba(233, 216, 204, 0.6);
  border-color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
}

.openP {
  margin-top: 50px;
  margin: 0 auto;
  min-height: 50px;
  max-width: 800px;
  overflow: hidden;
  background-color: rgba(233, 216, 204, 0.6);
  border: groove;
  text-align: center;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  font-family:  'Metamorphous', cursive;
}

p {
  font-family: 'Metamorphous', cursive;
  color: rgba(28, 11, 3, 1);
}

h4 {
  font-family: 'Metamorphous', cursive;
}

h5 {
  font-family: 'Metamorphous', cursive;
}
/*end welcom style*/

.playerList:hover {
  background-color: rgba(109, 44, 44, 0.8);
}

/*view player list style*/
.playerList {
  margin: 0 auto;
  min-height: 40px;
  max-width: 500px;
  overflow: hidden;
  background-color: rgba(233, 216, 204, 0.6);
  border: groove;
  text-align: center;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  font-family:  'Metamorphous', cursive;
}
/*end view style*/

.directions {
  margin: 0 auto;
  height: inherit;
  width: auto;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Metamorphous', cursive;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
}

.dieRections {
  float: left;
  margin: 0 auto;
  height: auto;
  max-width: 270px;
  margin-top: 50px;
  margin-bottom: 25px;
  border: groove;
  text-align: center;
  background-color: rgba(233, 216, 204, 0.6);
  font-family: 'Metamorphous', cursive;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
}

/*view1 create character style*/
.outerClass {
  margin-top: 50px;
  border: groove;;
  height: 400px;
  max-width: 250px;
  background-color: rgba(233, 216, 204, 0.6);
  display: block;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  overflow: auto;
}
 .contain:hover {
   background-color: rgba(109, 44, 44, 0.8);
 }
/*class api */
.contain {
  padding-top: 30px;
  padding-left: 5px;
  min-height: 50px;
  width: 220px;
  overflow: auto;
  color: rgba(28, 11, 3, 1);
}

/*dropdowns*/
.diceInfo {
  margin-top: 50px;
  padding-bottom: 25px;
}

/*dice and save buttons*/
.button {
  background-color: rgba(233, 216, 204, 0.6);
  border: groove;
  width: 100px;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
}

.die1 {
  float: right;
  margin-right: 50%;
  height: 27px;
  width: 30px;
  border: groove;
  text-align: center;
  background-color: rgba(233, 216, 204, 0.6);
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
}

.save {
  margin-top: 20px;
  background-color: rgba(233, 216, 204, 0.6);
  border: groove;
  width: 100px;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
}

/*input style*/
.inputs {
  margin-top: 50px;
  margin-bottom: 50px;
  border: groove;
  height: 650px;
  overflow: auto;
  min-width: 420px;
  background-color: rgba(233, 216, 204, 0.6);
  display: block;
  padding-top: 30px;
  border-color: rgba(28, 11, 3, 1);
  color: rgba(28, 11, 3, 1);
  -webkit-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  -moz-box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
  box-shadow: 15px 20px 4px 0px rgba(28, 11, 3, 0.7);
}

/*label style*/
label {
  font-family: 'Metamorphous', cursive;
}
/*end view1 style*/
